node_modules
coverage
.clio-cache
__pycache__
.vscode
.idea/
/clio.iml
.cache
.DS_Store
dist
docs/source
.vercel
build

*.clio.js

packages/run/src/workers/ww.js
packages/website
packages/playground

# FIXME: Find a solution for this:
packages/run/src/lib/worker-path.mjs