html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  color: #19191f;
  background: #eee;
}

body {
  font-family: "Fira Sans";
}

.monaco-editor .scroll-decoration {
  box-shadow: none !important;
}

a {
  color: rgb(33, 33, 33);
  border-bottom: 1px dotted rgba(33, 33, 33, 0.4);
  text-decoration: none;
  padding-bottom: 2px;
  margin-bottom: -3px;
}

a:hover {
  color: rgb(204, 42, 64);
  border-bottom: 2px solid rgb(204, 42, 64);
  padding-bottom: 2px;
  margin-bottom: -4px;
}
