html,
body {
  min-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  scroll-behavior: smooth;
}

#sapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}
