name: Push Checks

on: [push]

jobs:
  test-ubuntu:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 11.x, 12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install & test
        run: |
          npm ci
          npm link
          clio host tests/test.host.clio &
          sleep 10
          npm test
        env:
          CI: true
  lint:
    runs-on: [ubuntu-latest]

    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm lint:check
        run: |
          npm ci
          npm run lint:check
        env:
          CI: true
